body {
  background-image: url(images/kala.jpg);
  background-size:cover;
  background-attachment:fixed;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
figure{
  border-radius: 80px;
  align-items: center;
  height: 200px;
  width :100px;
  opacity: 0.1;
}
.name{
  color: lightyellow;
  opacity: 0.5;
  float: left;
}
.remain{
  opacity: 0.5;
  float: right;
}
.remain a{
  color: lightyellow;
  font-size: 20px;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
#slider img, #slider h1, #slider h3, #slider h2{
  margin: 0;
  position: absolute;
  color: white;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#slider h1{
  font-size: 90px;
  top: 64%;
}
#slider h3{
  top: 70%;
}
#slider h2{
  font-size: 90px;
  top: 80%;
}
#slider  a{
  color: darkgray;
}
#slider{
  background-color: rgba(0,0,0, 0.6);
  position: absolute;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}
#content {
  position: absolute;
  top: 100%;
  width: 100%;
  background: white;
  display: flex:
  flex-flow: column;
}

#second {
  display: flex;
  margin : 0 10% 10% 10%;
}
.fourboxes{
  display: flex;
  flex-wrap: wrap;
}
.col-md-4{
  color: black;
  width: 33%;
  height: 250px;
  text-align: center;
  margin-bottom: 25px;
}
.para{
  margin-top: 60px;
  text-align: center;
  font-size: 80px;
  font-family: 'Italianno', cursive;
  color: gray;
}
.btn-default{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Italianno', cursive;
}
@media screen and (max-width: 519) {
  .col-md-4{
      width: 100%;
  }
}
@media screen and (max-width: 900px) and (min-width: 450px) {
    .col-md-4 {
        width: 50%;
    }
}
.rest, .note, .angNote, .Maerk, .chart, .chat{
  background-size:cover;
  height: 100%;
}
.rest{
  background-image: url(images/blue.jpg);

}
.note{
  background-image: url(images/yellow.jpg);
}
.angNote{
  background-image: url(images/red.jpg);
}
.Maerk{
  background-image: url(images/black.jpg);
  color: white;
}
.chart{
  background-image: url(images/green.jpg);
    /*color: white;*/
}
.chat{
  background-image: url(images/gray.jpg);
    /*color: white;*/
}
.show, .showw, .sho, .sh, .s, .showww{
  padding: 10px;
/*visibility: hidden;*/
}
.rest:hover .show, .note:hover .showw, .angNote:hover .sho, .Maerk:hover .sh, .chart:hover .s, .chat:hover .showww{
visibility: visible;
background-color: rgba(0, 0, 0, 0.5);
color: white;
height: 100%;
}
.img-circle {
margin-left: 43%;
margin-bottom: 40px;
height: 200px;
width: 200px;
border-radius: 50%;
border: 4px solid rgba(255,255,255, 0.1);
box-shadow:10px 10px 50px 10px #888888;
}
#aboutMe {
  position: absolute;
  padding-top: 80px;
  top: 100%;
  width: 100%;
  background: white;
}
#aboutMe h1{
  text-align: center;
  font-size: 45px;
  color: grey;
  margin-bottom: 40px;
}
.aboutMe{
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  margin: 20px 15% 0 15%;
  color: grey;
}
.btn-def{
  padding-top: 20px;
  width: 200px;
  height: 60px;
  border-radius: 15px;
  background: white;
  border: 1px solid blue;
}
.butt{
    margin: 8% 0 8% 37%;
}
.btn-det{
  padding-top: 20px;
  width: 200px;
  height: 60px;
  border-radius: 15px;
  background: white;
  border: 1px solid red;
}
.btn-def:hover, .btn-det:hover{
  background-color: grey;
  border: none;
  color: black;
  font-weight: bold;
}

#aboutMe .pa{
  background-color: white;
  width: 100%;
  top: 100%;
  margin-bottom: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: gray;
}
